<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Reward Reports</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.0.0/diff.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>
<body>
    <svg style="display: none;">
        <symbol id="info" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 0.5C12.4062 0.5 16 4.09375 16 8.5C16 12.9375 12.4062 16.5 8 16.5C3.5625 16.5 0 12.9375 0 8.5C0 4.09375 3.5625 0.5 8 0.5ZM8 4.5C7.4375 4.5 7 4.96875 7 5.5C7 6.0625 7.4375 6.5 8 6.5C8.53125 6.5 9 6.0625 9 5.5C9 4.96875 8.53125 4.5 8 4.5ZM9.25 12.5C9.65625 12.5 10 12.1875 10 11.75C10 11.3438 9.65625 11 9.25 11H8.75V8.25C8.75 7.84375 8.40625 7.5 8 7.5H7C6.5625 7.5 6.25 7.84375 6.25 8.25C6.25 8.6875 6.5625 9 7 9H7.25V11H6.75C6.3125 11 6 11.3438 6 11.75C6 12.1875 6.3125 12.5 6.75 12.5H9.25Z" fill="#464B53"/>
        </symbol>
    </svg>
    <nav>
        <div class="site-name"><a href="/">Reward Reports</a></div>
        <ul class="tabs">
            <li class="active">Build Report</li>
            <li>Version History</li>
            <li>User Feedback</li>
            <li>Performance</li>
            <li>View Changes</li>
        </ul>
    </nav>
    <main>
        <section id="login" class="content-section active-tab">
            <div class="columns">
                <div class="left-scan">
                    <ul class="sections">
                        <li data-target="overview" class="sections-head">
                            <div class="section-header">
                                Overview
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="overview-sub1">System Owner</li>
                                <li data-target="overview-sub2">Dates</li>
                                <li data-target="overview-sub3">Feedback & Commmunication</li>
                                <li data-target="overview-sub4">Other Resources</li>
                            </ul>
                        </li>
                        <li data-target="performance" class="sections-head">
                            <div class="section-header">
                                Performance
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="performance-sub1">Goal of Reinforcement</li>
                                <li data-target="performance-sub2">Defined Performance Metrics</li>
                                <li data-target="performance-sub3">Known Failure Modes</li>
                            </ul>
                        </li>
                        <li data-target="responsibilities" class="sections-head">
                            <div class="section-header">
                                Responsibilities
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="responsibilities-sub1">Reporting Cadence</li>
                                <li data-target="responsibilities-sub2">Update Triggers</li>
                                <li data-target="responsibilities-sub3">Oversight Metrics</li>
                                <li data-target="responsibilities-sub4">Legacy System(s)</li>
                                <li data-target="responsibilities-sub5">Stakeholders</li>
                                <li data-target="responsibilities-sub6">Explainability & Transparency</li>
                                <li data-target="responsibilities-sub7">Recourse</li>
                            </ul>
                        </li>
                        <li data-target="implementation" class="sections-head">
                            <div class="section-header">
                                Implementation
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="implementation-sub1">Reward Details</li>
                                <li data-target="implementation-sub2">Environment Details</li>
                                <li data-target="implementation-sub3">Measurement Details</li>
                                <li data-target="implementation-sub4">Algorithmic Details</li>
                                <li data-target="implementation-sub5">Data Flow</li>
                                <li data-target="implementation-sub6">Limitations</li>
                                <li data-target="implementation-sub7">Engineering Tricks</li>
                            </ul>
                        </li>
                        <li data-target="evaluation" class="sections-head">
                            <div class="section-header">
                                Evaluation
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="evaluation-sub1">Evaluation Environment</li>
                                <li data-target="evaluation-sub2">Offline Evaluations</li>
                                <li data-target="evaluation-sub3">Evaluation Validity</li>
                                <li data-target="evaluation-sub4">Performance Standards</li>
                            </ul>
                        </li>
                        <li data-target="maintenance" class="sections-head">
                            <div class="section-header">
                                Maintenance
                                <div class="indicator hidden"></div>
                            </div>
                            <ul class="subsections">
                                <li data-target="maintenance-sub1">Comments on Performance</li>
                                <li data-target="maintenance-sub2">Comments on User Feedback</li>
                                <li data-target="maintenance-sub3">Recommendations</li>
                                <li data-target="maintenance-sub4">Changelog</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="main-content-container">
                    <div class="main-content pre-build active-mode">
                        <div class="intro steps">
                            <h1>About Reward Reports</h1>
                            <p>This is a tool to generate and visualize Reward Reports.</p>
                            <p>It aims to provide a simple interface to build from scratch a new Reward Report or to edit an existing one.</p>
                            <p>You can upload existing report(s) from your device or directly import them from your GitHub repository.</p>
                            <p>This is also the place to visualize how your reports for a single model have changed over time.</p>
                            <p style="font-size: 0.8rem; color:#808080;">
                                If this is your first time using the Reward Reports Builder, we highly recommend you read through <a href="testFiles/README.md" target="_blank">this Reward Reports Protocol</a>.
                             </p>
                            <p style="font-size: 0.8rem; color:#808080;">
                                You can learn more about Reward Reports at <a href="https://rewardreports.github.io/">https://rewardreports.github.io/</a>.
                            </p>
                            <br><br>
                            <div class="button-container">
                                <form action="/login" method="POST">
                                    <!--label for="organization">Organization Name:</label>
                                    <input type="text" id="organization" name="organization" required-->
                                    <br>
                                    <label for="organization_email">Organization Email:</label>
                                    <input type="text" id="organization_email" name="organization_email" required>
                                    <br>
                                    <!--label for="password">Password:</label>
                                    <input type="password" id="password" name="password" required>
                                    <br-->
                                    <button type="submit" id="start">Login</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="right-scan"></div>
            </div>
        </section>
    </main>
    <script src="/script.js"></script>
</body>
</html>
