body {
    margin: 0;
    padding: 0px;
    font-family: 'Trebuchet MS','Verdana','Ariel', Calibri,  sans-serif;
    font-size: 16px;
}

select{
    font-family: inherit;
    font-size: 0.9rem;
    color: #808080;
    padding: 5px;
    border: 1px solid #CFD2DB;
    border-radius: 3px;
}


h3{
    /* margin-bottom: 10px; */
    margin-right: 15px;
}

h4{
    margin-bottom: 0;
    margin-top: 30px;
    margin-right: 5px;
}

p{
    margin: 10px 0;
    line-height: 120%;
}

button {
    background-color: #0092B2;
    color: white;
    /* font-weight: bold; */
    border: none;
    outline: none; /* Removes the outline */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    /* Styles for the disabled button */
    background-color: #0091b284;
    cursor: not-allowed;
}

.site-name a{
    color: inherit;
    font-style: inherit;
    text-decoration:none;
}


.form-content textarea, 
.form-content input {
    font-family: inherit;
    font-size: inherit;
 }

.main {
    display: block; /* Display as block-level elements */
    width: 80%; /* Set a width for the buttons */
    margin: 25px auto; /* Add margin to create spacing and center horizontally */
}

.edit-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 10px;
    margin: auto 0;
    position: relative;
}

.editing-button {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}

  /* Hover effect */
button:hover {
    background-color: #115c6d; /* Darker shade of blue for hover effect */
}

.editing-button:hover {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}

nav {
    background-color: #FDFEFF;
    color: #464B53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .15rem solid lightgray;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 60px;
    z-index: 2;
    box-shadow: 0 -1px 8px -1px rgba(0, 0, 0, 0.2);
}

.site-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin: 2vh 2vw;
    height: auto;
    width: auto;
}

.tabs {
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 2vh 2vw;
    height: auto;
    width: auto;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines by default */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflow text */
}

.tabs li {
    cursor: pointer;
    padding-bottom: 20px;
    margin-bottom: -20px;
}


.content-section {
    display: none;
    margin-top: 60px;
}

.content-section.active-tab {
    display: block;
}

.active {
    color: #0092B2;
    border-bottom:  3px solid #0092B2;
}

.active-section {
    color: #0092B2;
    border-left: 2px solid #0092B2;
    font-weight: bold;
    width: 100%;
    height: 100%;
}


.columns {
    display: flex;
    position: relative; /* To create a containing block for fixed positioning */
}

.left-scan {
    font-size: 0.9rem;
    flex: 0 0 20%;
    background-color: #FDFEFF;
    color: #464B53;
    border-right: .1em solid lightgray;
    position: fixed;
    left: 0; /* Align the left scan column to the left */
    height: 100vh; /* Set the height to full viewport height */
    overflow-y: auto; /* Enable scrolling for the left scan column */
    width: 18%;
    z-index: 1;
}

.sections {
    list-style: none;
    margin: 30px 15px 10px 15px;
    padding-left: 0;
}

.sections li {
    margin-bottom: 30px;
    cursor: pointer;
    padding-left: 1vw;
}
.main-content-container{
    flex: 1;
    margin-left: 18vw; /* Adjust margin to account for the left scan column */
    width: 64vw;
    margin-right: 18vw;
}
.main-content {
    display: none;
    padding: 20px;
    width: auto;
}

.main-content.active-mode {
    display: block;
}

.pre-build{
    padding: 20px 50px;
}

.user{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.user-type-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Three equal columns */
    width: 95%;
    height: max-content;
    margin: 15vh auto 0 auto;
    gap: 3%; 
    padding: auto;
}

.user-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Three equal columns */
    width: 95%;
    height: max-content;
    margin: 0 auto 15vh auto;
    gap: 3%; 
}
  
.user-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0 0 0;
    height: 100%;
    width: 100%; 
}

.user-text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    height: 100%;
    width: 100%; 
}

.user-text {
    max-width: 80%;
}

/* .user-text p,
.user-text h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.user-icon {
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 30px 0;
    border: 0.5px solid black;

}

.user-icon:hover{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.user-icon.selected {
    border: 0.5px solid #0092B2;
    background-color: #0091b21f;
}

.user-column h3,
.user-column h4 {
    margin:0;
    padding:0;
    display: block;
}

.user-buttons button {
    margin: 10px;
}

.user-buttons {
    justify-content: center;
}

#back-intro{
    margin: 0;
}

.section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
}

.section h3, 
.section h4{
    display: inline-block;
}

.section img{
    max-width: 100%;
    max-height: 40vh;
    display: block;
}

.subsections{
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0.8rem;
    color:#808080;
}
.subsections.active-sub {
    height: auto;
    width: auto;
    list-style: none;
    padding: 0;
    font-weight: normal;
}

.subsections li {
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: 15px; /* Indent the subsections */
}

.subsection p[contenteditable="true"] {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 3px;
    color: #464B53;
}

.right-scan {
    flex: 0 0 20%;
    width: 18%;
    background-color: #FDFEFF;
    color: #464B53;
    border-left: .1em solid lightgray;
    position: fixed;
    right: 0; /* Align the right scan column to the right */
    height: 100vh; /* Set the height to full viewport height */
    overflow-y: scroll; /* Enable scrolling for the right scan column */
    z-index: 0;
    font-size: 0.9rem !important;
}
.spacer {
    height: 60vh;
}

.author-form {
    font-size: 12px;
    color: #464B53;
    position: fixed;
    bottom: 0;
    left: 18%;
    width: 64%;
    height: auto;
    background-color: #EDF4F8;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hide the div initially */
    z-index: 0;
}

.form-content {
    margin: 30px 40px;
}

/* Style for full-width elements */
.full-width {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 5px;

}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the flex-right container */
.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-right button{
    margin-left: 20px;
}

#cancel-button {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}

#cancel-button:hover {
    background-color: rgb(220, 220, 220);
    color: #0092B2;
    border: 1px solid #0092B2;
}

.export-container {
    margin: 10px auto;
    text-align: center;
}
/* 
.export-container button {
    width: 70%;
    margin:auto;
    margin-top:20px;
} */

#restart-button:disabled {
    background-color: white;
    cursor: not-allowed;
}

#restart-button {
    display: none;
    position: absolute;
    bottom: 90px;
    width: 80%;
    margin: 0 10%;
}


.hidden-info {
    position: absolute;
    display: none;
    padding: 0 8px;
    background-color: #000000;
    color: whitesmoke;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 999;
    width: 400px;
    border-radius: 3px;
}

.hidden-info p{
    font-size: 0.8rem;
}

.info {
    cursor: pointer;
}

/* Position the info div based on cursor */
.show-info {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 20vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    padding: 5px 30px 15px 30px;
}

.indicator,
.changed-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F55A5A;
    margin:10px;
}

.section-header {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.right-content{
    margin: 30px 15px 10px 15px;
    font-size: 0.9rem;
    display: none;
}

.right-content-sub{
    margin: 0 5px;
}

#version-history-link {
    color: #0092B2;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

#version-history-link:hover {
    color: #115c6d;
}

a {
    color: #0092B2;
    font-weight: bold;
}
  
a:hover {
    color: #115c6d;
}

.changes-page-container {
    display: grid;
    grid-template-columns: 18% 1fr 1fr; /* Three equal columns */
    width: 100%;
    height: max-content;
}
  
.changes-column {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    border-right: 1px solid #ccc;
}
  
.row {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between label and select elements */
}
  
.row-small {
    width: auto;
    height: auto;
    padding: 25px 15px;
    border-bottom: 1px solid #ccc;
}
  
.row-large {
    height: auto;
}

.row-large h3, 
.row-large h4{
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 5px;
}


/* .row-large p,  */
.row-large p{
    display: inline;
    line-height: 120%;
}

.row-large img{
    max-width: 100%;
    max-height: 40vh;
    display: block;
}

.changes-column span {
    display: inline;
    white-space: normal;
}

.added {
    color: green;
    background-color: #c8f7c8; /* Light green background for added parts */
}

.removed {
    color: red;
    background-color: #f8cbcb; /* Light red background for removed parts */
}

#message-container {
    background-color: #fff;
    display: none;
}

.webonly{
    width: 70vw;
    margin: auto;
    height: fit-content;
}

.webonly svg{
    display: inline-block;
}

#webonly-content{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-container {
    overflow-x: auto; /* Add horizontal scrolling if necessary */
}

#version-table {
    width: 100%;
    table-layout: fixed; /* Fix the table layout to evenly distribute the available space */
    /* margin: 20px auto; */
    font-size: small;
    font-weight: normal;
    border-collapse: collapse;
}

#version-table th,
#version-table td {
    padding: 10px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #CFD2DB;
}

#version-table thead{
    background-color: #EDF4F8;
    font-weight: normal;
}

.description-cell {
    max-height: 100px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    /* max-width: 300px;  */
}

.description-cell.expanded {
    max-height: none;
}

.expand-button {
    display: block;
    text-align: right;
    cursor: pointer;
    color: #0092B2;
    margin-top: 5px;
    font-size: x-small;
}

.github{
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid black;
}

.github input{
    padding: 1px 20px;
    line-height: normal;
}

.buttonBox{
    display: flex;
    justify-content: space-between;
}

  
.version-page-container {
    display: grid;
    grid-template-columns: 80% 20% ; /* Three equal columns */
    width: 100%;
}

  
.versions-column,
.performance-column  {
    min-height: calc(100vh - 60px);
    border-right: 1px solid #ccc;
}

#bottom-container{
    background-color: rgb(246, 246, 246);
}

.performance-page-container {
    display: grid;
    grid-template-columns: 1fr 20% ; /* Three equal columns */
    width: 100%;
}

#main-top{
    min-height: 200px;
    height: fit-content;
    /* overflow: scroll; */
    /* border-bottom: 1px solid #ccc; */
    /* padding: 0 20px; */
    width: auto;
    display: grid;
    grid-template-columns: 40% 1fr 1fr; /* Three equal columns */
}

.top-column{
    padding: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    position: relative;
}

.top-column button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* Other styles for the button */
    padding: 8px 12px;
    font-size: 10px;
    margin: auto 0;
  }

#info-date{
    margin: 10px;
    border: 1px solid black;
}

#graph-report-info {
    font-size: 0.8rem; 
    /* color:#808080;  */
    display: inline;
}

#info-date select{
    width: 65%;
}

#main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr ; /* Three equal columns */
    width: 100%;
    min-height: calc(100vh - 260px);
}

.graph-container {
    padding: 0 20px;
    width: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 10px;
}


#main-right-content {
    margin-left: 5px;
    margin-right: 10px;

}

#main-left-content {
    margin-left: 10px;
    margin-right: 5px;

}

.no-graph {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center align */
    justify-content: center; /* Vertically center align */
    text-align: center; /* Center-align text */
    height: 60vh;
}

.graph {
    display: none;
}

#main-versions-content{
    padding: 20px 40px;
    width: auto;
}

.flagged-content{
    margin: 30px 15px 10px 15px;
    font-size: 0.9rem;
}

.flagged-content-sub{
    margin: 0 5px;
}

#checkbox-container,
#checkbox-container-perf {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
}

#checkbox-container input,
#checkbox-container-perf input  {
    margin: 10px 0;
}


.centered-div {
    display: flex;
    align-items: center; 
    /* Add other styles as needed */
}

.compare-flagged-button{
    margin: 0 auto;
    width: 80%;
    display: block;
}

.compare-inplace {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center align */
    justify-content: center; /* Vertically center align */
    text-align: center; /* Center-align text */
    height: 60vh;
}


.compare-inplace p {
    margin-top: 30px;
}

#last-edit-description{
    max-height: 200px;
    overflow: hidden;
}

#last-edit-description.expanded {
    max-height: none;
}

#graph-description{
    max-height: 50px; 
    overflow: hidden;
}

#graph-description.expanded {
    max-height: none; 
}

.bookmark-checkbox{
    margin: auto 8px;
    display: inline-block;

}

.left-scan button {
    width: 80%;
}

button div{
    justify-content: center; /* Vertically center align */
    text-align: center; /* Center-align text */
}

#draft-pages-container{
    width: 100%;
    display: block;
}
.draft-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 5px;

  }
  
  /* Hide the checkbox input */
.checkbox-container input[type="checkbox"] {
    display: none;
}
  
/* .checkbox-container svg {
    fill: none;
    stroke: #464B53;
    stroke-width: 2;
    transition: fill 0.2s, stroke 0.2s;
}
  
.checkbox-container input[type="checkbox"]:checked + svg {
    fill: #464B53;
    stroke: none;
} */

.format-text-container {
    font-size: 0.8rem;
    color: #808080; /* Faint grey color */
    padding:0;
    margin:0;
}

