body {
    margin: 0;
    padding: 0px;
    font-family: 'Trebuchet MS','Verdana','Ariel', Calibri,  sans-serif;
}

h3{
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
}

h4{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 30px;
    margin-right: 5px;
}
p{
    margin: 10px 0;
    line-height: 120%;
    font-size: 16px;
}

button {
    background-color: #0092B2;
    color: white;
    /* font-weight: bold; */
    border: none;
    outline: none; /* Removes the outline */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

textarea, input {
    font-family: inherit;
    font-size: inherit;
 }

.main {
    display: block; /* Display as block-level elements */
    width: 500px; /* Set a width for the buttons */
    margin: 25px auto; /* Add margin to create spacing and center horizontally */
}

.edit-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 10px;
    margin: auto 0;
    position: relative;
}

.editing-button {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}


  
  /* Hover effect */
button:hover {
    background-color: #115c6d; /* Darker shade of blue for hover effect */
}

.editing-button:hover {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}

nav {
    background-color: #FDFEFF;
    color: #464B53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .15rem solid lightgray;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 60px;
    z-index: 2;
}

.site-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin: 2vh 2vw;
    height: auto;
    width: auto;
}

.tabs {
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 2vh 2vw;
    height: auto;
    width: auto;
}

.tabs li {
    cursor: pointer;
    padding-bottom: 20px;
    margin-bottom: -20px;
}


.content-section {
    display: none;
}

.content-section.active-tab {
    display: block;
}

.active {
    color: #0092B2;
    border-bottom:  solid #0092B2;
}

.active-section {
    color: #0092B2;
    border-left:  solid #0092B2;
}


.columns {
    display: flex;
    position: relative; /* To create a containing block for fixed positioning */
    margin-top: 60px;
}

.left-scan {
    font-size: 0.9rem;
    flex: 0 0 20%;
    background-color: #FDFEFF;
    color: #464B53;
    border-right: .1em solid lightgray;
    position: fixed;
    top: 60px; /* Align the left scan column to the top */
    left: 0; /* Align the left scan column to the left */
    height: 100vh; /* Set the height to full viewport height */
    overflow-y: auto; /* Enable scrolling for the left scan column */
    width: 18%;
    z-index: 1;
}

.sections {
    list-style: none;
    margin-top: 15%;
    padding-left: 0;
}

.sections li {
    margin-bottom: 30px;
    cursor: pointer;
    padding-left: 1vw;
    margin-left: 1vw;
}

.main-content {
    display: none;
    flex: 1;
    padding: 20px;
    margin-left: 18%; /* Adjust margin to account for the left scan column */
    margin-right: 18%; /* Adjust margin to account for the right scan column */
}

.main-content.active-mode {
    display: block;
}

.pre-build{
    padding: 20px 50px;
}

.section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
}
.subsections{
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0.8rem;
    color:#808080
}
.subsections.active-sub {
    height: auto;
    width: auto;
    list-style: none;
    padding: 0;
}

.subsections li {
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: 15px; /* Indent the subsections */
}

.subsection p[contenteditable="true"] {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 3px;
    color: #464B53;
}

.right-scan {
    flex: 0 0 20%;
    width: 18%;
    background-color: #FDFEFF;
    color: #464B53;
    border-left: .1em solid lightgray;
    position: fixed;
    top: 60px; /* Align the right scan column to the top */
    right: 0; /* Align the right scan column to the right */
    height: 100vh; /* Set the height to full viewport height */
    overflow-y: auto; /* Enable scrolling for the right scan column */
    z-index: 1;
}
.spacer {
    height: 60vh;
}

.author-form {
    font-size: 12px;
    color: #464B53;
    position: fixed;
    bottom: 0;
    left: 18%;
    width: 64%;
    height: auto;
    background-color: #EDF4F8;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hide the div initially */
    z-index: 0;
}

.form-content {
    margin: 30px 40px;
}

/* Style for full-width elements */
.full-width {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 5px;

}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the flex-right container */
.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-right button{
    margin-left: 20px;
}

#cancel-button {
    background-color: white;
    color: #0092B2;
    border: 1px solid #0092B2;
}

#cancel-button:hover {
    background-color: rgb(220, 220, 220);
    color: #0092B2;
    border: 1px solid #0092B2;
}

.export-container {
    margin: 10px auto;
    text-align: center;
}

/* #export-button{
    margin: 10px auto;
    display: block; 
} */

.hidden-info {
    position: absolute;
    display: none;
    padding: 0 8px;
    background-color: #000000;
    color: whitesmoke;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 999;
    width: 400px;
    border-radius: 3px;
}

.hidden-info p{
    font-size: 0.8rem;
}

.info {
    cursor: pointer;
}

/* Position the info div based on cursor */
.show-info {
    display: block;
}

